@model PDFClientModuleModel
@{
    ViewData["Title"] = "ClientModule";
    Layout = "_Layout.cshtml";

    var email = (string.IsNullOrEmpty(Model.Client.Email)) ? "Nessuna email specificata" : Model.Client.Email;
    var pec = (string.IsNullOrEmpty(Model.Client.PEC)) ? "Nessuna PEC specificata" : Model.Client.PEC;
    var phone = (string.IsNullOrEmpty(Model.Client.Phone)) ? "Nessun numero di telefono specificato" : Model.Client.Phone;
}
<div class="pdfPage">
    @(await Html.PartialAsync("Header"))
    <h2>Scheda cliente @Model.Client.Name</h2>
    <div class="pdfContentPage">
        <label class="moduleTitle">ID:</label>
        <label class="moduleValue">@Model.Client.Id</label>
        <br />
        <label class="moduleTitle">Codice:</label>
        <label class="moduleValue">@Model.Client.Code</label>
        <br />
        <label class="moduleTitle">Barcode:</label>
        <img src="~/barcodes/@(Model.Client.Code).png" style="width:120px;" />
        <br />
        <label class="moduleTitle">Nome:</label>
        <label class="moduleValue">@Model.Client.Name</label>
        <br />
        <label class="moduleTitle">Partita I.V.A:</label>
        <label class="moduleValue">@Model.Client.VAT</label>
        <br />
        <label class="moduleTitle">Condice FIscale:</label>
        <label class="moduleValue">@Model.Client.FiscalCode</label>
        <br />
        <label class="moduleTitle">Indirizzo:</label>
        <label class="moduleValue">@Model.Client.Address</label>
        <br />
        <label class="moduleTitle">Comune:</label>
        <label class="moduleValue">@Model.Client.Town</label>
        <br />
        <label class="moduleTitle">Provincia:</label>
        <label class="moduleValue">@Model.Client.Province</label>
        <br />
        <label class="moduleTitle">Stato:</label>
        <label class="moduleValue">@Model.Client.State</label>
        <br />
        <label class="moduleTitle">Telefono:</label>
        <label class="moduleValue">@phone</label>
        <br />
        <label class="moduleTitle">Email:</label>
        <label class="moduleValue">@email</label>
        <br />
        <label class="moduleTitle">PEC:</label>
        <label class="moduleValue">@pec</label>
        <br />
    </div>
</div>