@model EditMouldViewModel
@{
    ViewData["Title"] = "Edit";
}
<h2>Modifica Stampo</h2>
<div class="content_page margin_bottom">
    <form id="editMouldForm" asp-action="Edit" asp-controller="Mould" method="post" asp-route-id="@Model.Mould.Id" enctype="multipart/form-data" asp-antiforgery="true" autocomplete="off">
        <label for="code" class="title">Foto caricata:</label>
        <div style="display: inline-block;  margin-bottom: 8px;">
            <img src="/@(Model.Mould.Image)" style="width: 300px; height:auto; margin-top: 4px; margin-bottom:4px; border: 1px dashed rgba(0,0,0,0.15);" onerror="this.src ='/images/machinesDetails/default.jpg'" />
            <br />
            <a asp-action="DeleteImage" asp-controller="Mould" asp-route-id="@Model.Mould.Id" style="margin-left:1px;top: -3px; position: relative;">Rimuovi</a>
        </div>
        <br />
        <label for="code" class="title">Codice:</label>
        <input type="text" name="code" style="width:150px;" value="@Model.Mould.Code" />
        <br />
        <label for="client" class="title">Cliente Default:</label>
        <select style="width:300px;" name="client" value="@Model.Mould.DefaultClient.Id">
            <option value="">--</option>
            @foreach (var c in Model.Clients)
            {
                <option asp-selected="@(Model.Mould.DefaultClient?.Id == c.Id)" value="@c.Id">@c.Name</option>
            }
        </select>
        <br />
        <label for="mixture" class="title">Miscela Default:</label>
        <select name="mixture" style="width: 280px;" onchange="viewMixtureDetails(this);">
            <option value="">--</option>
            @foreach (var m in Model.Mixtures)
            {
                var c = m.Items.Select(it => it.Quantity.ToString() + " " + it.Material.Name).Aggregate<string>((i, j) => i + " + " + j);
                <option asp-selected="@(Model.Mould.DefaultMixture?.Id == m.Id)" value="@m.Id" title="@c">@m.Name</option>
            }
        </select>
        <div id="mixtureDetails" style="width: 500px; margin-left: 125px; font-size: 12px; font-weight: normal;"></div>
        <br />
        <label for="description" class="title">Descrizione:</label>
        <input type="text" name="description" style="width:300px;" value="@Model.Mould.Description" />
        <br />
        <label for="location" class="title">Locazione:</label>
        <input type="text" name="location" style="width:150px;" value="@Model.Mould.Location" />
        <br />
        <label for="image" class="title">Immagine:</label>
        <div style="display: inline-block; margin-bottom: 8px;">
            <input type="file" style="width:300px;" name="image" id="imageInput" accept=".jpg, .png, .jpeg|images/*" />
            <br />
            <a href="#" onclick="return emptyImage();" style="margin-left:1px;top: -3px; position: relative;">Rimuovi</a>
        </div>
        <br />
        <label for="notes" class="title">Note:</label>
        <textarea name="notes" style="width:300px; min-height:70px;">@Model.Mould.Notes</textarea>
        <br />
        <br />
        <input type="submit" value="Modifica" />
    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">

        var validation = $('#editMouldForm').validate();
        validation.settings.rules = validateNewMouldRules;
        validation.settings.messages = validateNewMouldMessages;

        function emptyImage() {
            $("#imageInput").val(null);
            return false;
        }

        function viewMixtureDetails(obj) {
            $("#mixtureDetails").empty();
            var val = $(obj).find("option:selected").attr("title") || "";
            if (val == "") {
            } else {
                $("#mixtureDetails").append("<label style='margin: 0px !important;'>" + val + "</label>");
            }
        }

    </script>
}