@model IndexMouldModel
@{
    ViewData["Title"] = "Stampi";
}
<h2>Stampi</h2>
<div class="content_page margin_bottom">
    <div style="margin-bottom: 15px; text-align: right;">
        <label for="searchBar" style="width: 60px;">Cerca:</label>
        <input type="text" id="txtSearch" value="" style="margin: 0 !important; width: 200px;" placeholder="Codice, Descriz, Posizione" onkeyup="filterSearch(event)" autocomplete="off" />
    </div>
    <table class="table">
        <tr>
            <td style="font-weight:bold; width:100px;">Codice</td>
            <td style="font-weight:bold; width:260px;">Descrizione</td>
            <td style="font-weight:bold; width:120px;">Posizione</td>
            <td style="font-weight:bold; width:210px;">Note</td>
            <td style="font-weight:bold; width:210px;">Azioni</td>
        </tr>
        @foreach (var it in Model.Moulds)
        {
            <tr id="@it.Code">
                <td style="font-weight:bold; padding-left:20px;">@it.Code</td>
                <td>@it.Description</td>
                <td style="font-size:12px;">@it.Location</td>
                <td style="font-size:12px;">@((string.IsNullOrWhiteSpace(it.Notes) || string.IsNullOrEmpty(it.Notes)) ? "Nessuna nota" : it.Notes)</td>
                <td>
                    @*<a asp-action="NewLayout" asp-controller="Mould" asp-route-id="@it.Id">Lavorazione</a>*@
                    <a asp-action="ViewModule" asp-controller="Mould" asp-route-id="@it.Id" target="_blank">Scheda</a>
                    &nbsp;-&nbsp;
                    <a asp-action="Edit" asp-controller="Mould" asp-route-id="@it.Id">Modifica</a>
                    &nbsp;-&nbsp;
                    <a asp-action="Delete" asp-controller="Mould" asp-route-id="@it.Id" class="confirmDialog" data-msg="Sei sicuro di vuoler rimuovere questo stampo?" data-title="Conferma Eliminazione">Rimuovi</a>
                </td>
            </tr>
        }
        <tr asp-if="Model.Moulds.Count == 0">
            <td colspan="5" style="text-align:center">Nessuno stampo prensente</td>
        </tr>
    </table>
</div>

@section Scripts{
    <script class="inject-json" data-name="moulds" type="application/json">
        @Html.Raw(JsonConvert.SerializeObject(Model.Moulds))
    </script>
    <script type="text/javascript">

        function filterSearch(e) {
            var val = e.currentTarget.value;
            var words = val.split(' ');
            for (var i = 0; i < words.length; i++) {
                var word = words[i].toLowerCase();
                $(moulds).each(function (index, item) {
                    var bc = item.Code.toLowerCase();
                    var name = item.Description.toLowerCase();
                    var vat = item.Location.toLowerCase();
                    if (i == 0) {
                        if ((bc.indexOf(word) >= 0) || (name.indexOf(word) >= 0) || (vat.indexOf(word) >= 0)) {
                            $("#" + bc).css("display", "");
                        } else {
                            $("#" + bc).css("display", "none");
                        }
                    } else {
                        if ($("#" + bc).css("display") != "none") {
                            if ((bc.indexOf(word) >= 0) || (name.indexOf(word) >= 0) || (vat.indexOf(word) >= 0)) {
                                $("#" + bc).css("display", "");
                            } else {
                                $("#" + bc).css("display", "none");
                            }
                        }
                    }
                });
            }
        }

    </script>
}