@model NewMouldViewModel
@{
    ViewData["Title"] = "Nuovo Stampo";
}
<h2>Nuovo Stampo</h2>
<div class="content_page margin_bottom">
    <form id="newMouldForm" asp-action="New" asp-controller="Mould" method="post" asp-antiforgery="true" enctype="multipart/form-data" autocomplete="off">
        <label for="code" class="title">Codice:</label>
        <input type="text" style="width:150px;" name="code" />
        <br />
        <label for="client" class="title">Cliente Default:</label>
        <select style="width:280px;" name="client">
            <option value="">--</option>
            @foreach (var c in Model.Clients)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
        <br />
        <label for="mixture" class="title">Miscela Default:</label>
        <select name="mixture" style="width: 280px;" onchange="viewMixtureDetails(this);">
            <option value="">--</option>
            @foreach (var m in Model.Mixtures)
            {
                var c = m.Items.Select(it => it.Quantity.ToString() + " " + it.Material.Name).Aggregate<string>((i, j) => i + " + " + j);
                <option value="@m.Id" title="@c">@m.Name</option>
            }
        </select>
        <div id="mixtureDetails" style="width: 500px; margin-left: 154px; font-size: 12px; font-weight: normal;"></div>
        <label for="description" class="title">Descrizione:</label>
        <input type="text" style="width:280px;" name="description" />
        <br />
        <label class="title">Locazione:</label>
        <input type="text" style="width:150px;" name="location" />
        <br />
        <label for="image" class="title">Immagine:</label>
        <div style="display: inline-block; margin-bottom: 8px;">
            <input type="file" style="width:280px;" name="image" id="imageInput" accept=".jpg, .png, .jpeg|images/*" />
            <br />
            <a href="#" onclick="return emptyImage();" style="margin-left:1px;top: -3px; position: relative;">Rimuovi</a>
        </div>
        <br />
        <label for="notes" class="title">Note:</label>
        <textarea style="width:280px; min-height:70px;" name="notes"></textarea>
        <br />
        <br />
        <input type="submit" value="Aggiungi" />
    </form>
</div>

<style>
    #imageInput-error {
        margin-left: 297px;
    }
</style>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">

        var validation = $('#newMouldForm').validate();
        validation.settings.rules = validateNewMouldRules;
        validation.settings.messages = validateNewMouldMessages;

        function emptyImage() {
            $("#imageInput").val(null);
            return false;
        }

        function viewMixtureDetails(obj) {
            $("#mixtureDetails").empty();
            var val = $(obj).find("option:selected").attr("title") || "";
            if (val == "") {
            } else {
                $("#mixtureDetails").append("<label style='margin: 0px !important;'>" + val + "</label>");
            }
        }

    </script>
}