@model NewMouldViewModel
@{
    ViewData["Title"] = "Nuovo Stampo";
}
<h2>Nuovo Stampo</h2>
<div class="content_page margin_bottom">
    <form id="newMouldForm" asp-action="New" asp-controller="Mould" method="post" asp-antiforgery="true" enctype="multipart/form-data" autocomplete="off">
        <label for="code" class="title">Codice:</label>
        <input type="text" style="width:150px;" name="code" />
        <br />
        <label for="client" class="title">Cliente Default:</label>
        <select style="width:280px;" name="client">
            <option value="">--</option>
            @foreach (var c in Model.Clients)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
        <br />
        <label for="mixture" class="title">Miscela Default:</label>
        <select id="mixture" name="mixture" style="width: 227px;" onchange="viewMixtureDetails(this);">
            <option value="">--</option>
            @foreach (var m in Model.Mixtures)
            {
                var c = m.Items.Select(it => it.Quantity.ToString() + " " + it.Material.Name).Aggregate<string>((i, j) => i + " + " + j);
                <option value="@m.Id" title="@c">@m.Name</option>
            }
        </select>
        <a asp-action="#" onclick="return openAddDialog();">Aggiungi</a>
        <div id="mixtureDetails" style="width: 500px; margin-left: 154px; font-size: 12px; font-weight: normal;"></div>
        <label for="master" class="title">Master Default:</label>
        <select style="width:280px;" name="master">
            <option value="">--</option>
            @foreach (var m in Model.Masters)
            {
                <option value="@m.Id">@m.Name</option>
            }
        </select>
        <br />
        <label for="description" class="title">Descrizione:</label>
        <input type="text" style="width:280px;" name="description" />
        <br />
        <label class="title">Locazione:</label>
        <input type="text" style="width:150px;" name="location" />
        <br />
        <label for="image" class="title">Immagine:</label>
        <div style="display: inline-block; margin-bottom: 8px;">
            <input type="file" style="width:280px;" name="image" id="imageInput" accept=".jpg, .png, .jpeg|images/*" />
            <br />
            <a href="#" onclick="return emptyImage();" style="margin-left:1px;top: -3px; position: relative;">Rimuovi</a>
        </div>
        <br />
        <label for="notes" class="title">Note:</label>
        <textarea style="width:280px; min-height:70px;" name="notes"></textarea>
        <br />
        <br />
        <div style="display:none;">
            <input type="hidden" id="mixtureName" name="mixtureName" value="" />
            <div id="listItems" style="display:none;"></div>
            <input type="hidden" id="mixtureNotes" name="mixtureNotes" value="" />
        </div>
        <input type="submit" value="Aggiungi" />
    </form>
</div>

<div style="display:none;">
    <form id="addMixture" autocomplete="off">
        <label style="width: 95px;display: inline-block;text-align: right; margin-top: 8px !important;vertical-align: top;">Nome:</label>
        <input id="mName" name="name" type="text" style="width:220px;margin-bottom:4px;" />
        <br />
        <label style="width: 95px;display: inline-block;text-align: right; margin-top: 8px !important;vertical-align: top;">Componenti:</label>
        <select name="components" id="listBoxMaterials" size="4" style="width:286px; height:70px; margin-bottom: 0px !important; margin-top: 4px !important;"></select>
        <a asp-action="" onclick="return removeMaterial();" class="remove" style="vertical-align: top; top: 5px; position: relative;"></a>
        <div style="margin-left: 99px; height:39px;">
            <select id="addQuantity" style="margin-top: 0px !important;">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <select id="addMaterial" style="width:238px; margin-top: 0px !important;">
                <option value="" selected>--</option>
                @foreach (var m in Model.Materials)
                {
                    <option value="@m.Id">@m.Name</option>
                }
            </select>
            <a asp-action="" asp-controller="" onclick="return addMaterial();" class="add" style="position:relative; top:5px;"></a>
        </div>
        <label style="width: 95px;display: inline-block;text-align: right; margin-top: 8px !important;vertical-align: top;">Note:</label>
        <textarea id="mNotes" style="width:286px; height:50px; min-height: 50px;"></textarea>
    </form>
</div>

<style>
    #imageInput-error {
        margin-left: 297px;
    }
</style>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">

        var countAddedMaterial = 0;
        var matAdded = [];

        var validation = $('#newMouldForm').validate();
        validation.settings.rules = validateNewMouldRules;
        validation.settings.messages = validateNewMouldMessages;

        var validation1 = $('#addMixture').validate();
        validation1.settings.rules = validateNewMixtureRules;
        validation1.settings.messages = { 'name': { required: "", maxlength: "" }, 'components': { populated: "" } };

        function openAddDialog() {
            $("#addMixture").dialog("open");
            return false;
        }

        $("#addMixture").dialog({
            autoOpen: false,
            title: "Aggiungi Miscela",
            resizable: false,
            draggable: false,
            height: "auto",
            width: 480,
            modal: true,
            create: function (event) {
                $(event.target).parent().css({ 'position': 'fixed' });
            },
            buttons: {
                "Conferma": function () {
                    if ($("#addMixture").valid()) {
                        window.addMixture();
                        $(this).dialog("close");
                    }
                },
                "Annulla": function () {
                    window.validation1.resetForm();
                    $(this).dialog("close");
                }
            }
        });

        function emptyImage() {
            $("#imageInput").val(null);
            return false;
        }

        function viewMixtureDetails(obj) {
            $("#mixtureDetails").empty();
            var val = $(obj).find("option:selected").attr("title") || "";
            if (val == "") {
            } else {
                $("#mixtureDetails").append("<label style='margin: 0px !important;'>" + val + "</label><br /><br />");
            }
        }

        function addMaterial() {
            var material = parseInt($("#addMaterial").val()) || 0;
            var matName = $("#addMaterial option:selected").html() || "";
            var quantity = parseInt($("#addQuantity").val()) || 0;
            if (material != 0 && matName != "" && quantity != 0) {
                if (!matAdded.contains(matName)) {
                    $("#addMaterial").val("");
                    $("#addQuantity").val("1");
                    addItemMaterial(quantity, material, matName);
                } else {
                    errorDialog("Errore", "Materiale già presente nella miscela");
                }
            } else {
                alertDialog("Errore", "Inserire tutti i dati per poter aggiungere l'elemento");
            }
            return false;
        }

        function addItemMaterial(quantity, materialId, matName) {
            var app = "<input type='hidden' class='it_" + countAddedMaterial + "' name='mixtureQuantitys[it_" + countAddedMaterial + "]' value='" + quantity + "' />";
            app += "<input type='hidden' class='it_" + countAddedMaterial + "' name='mixtureMaterials[it_" + countAddedMaterial + "]' value='" + materialId + "' />";
            $("#listItems").append(app);
            $("#listBoxMaterials").append("<option class='it_" + countAddedMaterial + "' value='it_" + countAddedMaterial + "'>" + quantity + " x " + matName + "</option>");
            matAdded.push(matName);
            countAddedMaterial++;
        }

        function removeMaterial() {
            var mat = $("#listBoxMaterials option:selected").val() || "";
            var nm = $("#listBoxMaterials option:selected").html() || "";
            nm = nm.toString().substr(nm.indexOf("x") + 2);
            if (mat != "") {
                matAdded.remove(nm);
                $("." + mat).remove();
            } else {
                alertDialog("Errore", "Selezionare l'elemento da rimuovere");
            }
            return false;
        }

        function addMixture() {
            var nm = $("#mName").val() || "";
            var note = $("#mNotes").val() || "";
            $("#mixtureName").val(nm);
            $("#mixtureNotes").val(note);

            var exists = $("#mixture option[value='-1']").length !== 0;
            if (exists) {
                $("#mixture option[value='-1']").html("[NUOVO] - " + nm);
                $("#mixture").val("-1").change();
            } else {
                $("#mixture").prepend("<option value='-1' selected='selected'>[NUOVO] - " + nm + "</option>");
                $("#mixture").val("-1").change();
            }
        }

    </script>
}