@model IndexMixtureModel
@{
    ViewData["Title"] = "Miscele";

    var addMixtureHref = Url.Action("New", "Mixture");
}
<h2>Miscele</h2>
<div class="content_page margin_bottom">
    <table class="table">
        <tr>
            <td style="font-weight:bold; width:150px">Nome</td>
            <td style="font-weight:bold; width:300px">Componenti</td>
            <td style="font-weight:bold; width:315px">Note</td>
            <td style="font-weight:bold; width:135px">Azioni</td>
        </tr>
        @foreach (var it in Model.Mixtures)
        {
            <tr>
                <td><b>@it.Name</b></td>
                <td>
                    @foreach (var m in it.Items)
                    {
                        <div>
                            <label style="font-weight: normal;">@m.Quantity</label>&nbsp;
                            <label style="display: inline-block; max-width: 250px; text-overflow: ellipsis; font-weight: normal;">@m.Material.Name</label>
                        </div>
                    }
                </td>
                <td>@it.Notes</td>
                <td>
                    <a asp-action="Edit" asp-controller="Mixture" asp-route-id="@it.Id" data-name="@it.Name" data-items="@JsonConvert.SerializeObject(it.Items)" data-notes="@it.Notes" onclick="return openEditMixtureDialog(this);">Modifica</a>
                    &nbsp;-&nbsp;
                    <a asp-action="Delete" asp-controller="Mixture" asp-route-id="@it.Id" class="confirmDialog" data-msg="Sei Sicuro di voler rimovere questo materiale?">Rimuovi</a>
                </td>
            </tr>
        }
        <tr asp-if="Model.Mixtures.Count == 0">
            <td colspan="4" style="text-align:center">Nessuno stampo prensente</td>
        </tr>
    </table>
    <br />
    <div style="text-align: right;">
        <input type="button" value="Aggiungi" onclick="return openAddMixtureDialog('@addMixtureHref');" />
    </div>
</div>

<div class="box" style="display:none;">
    <form id="mixtureForm" asp-antiforgery="true" method="post" autocomplete="off">
        <label style="width: 95px;display: inline-block;text-align: right;">Nome:</label>
        <input id="name" type="text" name="name" style="width:220px" />
        <br />
        <label style="width: 95px;display: inline-block;text-align: right;">Componenti:</label>
        <select name="components" id="listBoxMaterials" size="4" style="width:286px; height:70px; margin-bottom: 0px !important;"></select>
        <a asp-action="" asp-controller="" onclick="return removeMaterial();" class="remove" style="vertical-align: top; top: 5px; position: relative;"></a>
        <div id="listItems" style="display:none;"></div>
        <div style="margin-left: 99px; height:39px;">
            <select id="addQuantity" style="margin-top: 0px !important;">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <select id="addMaterial" style="width:238px; margin-top: 0px !important;">
                <option value="" selected>--</option>
                @foreach (var m in Model.Materials)
                {
                    <option value="@m.Id">@m.Name</option>
                }
            </select>
            <a asp-action="" asp-controller="" onclick="return addMaterial();" class="add" style="position:relative; top:5px;"></a>
        </div>
        <label style="width: 95px;display: inline-block;text-align: right;">Note:</label>
        <textarea id="notes" name="notes" style="width:286px; height:50px; min-height: 50px;"></textarea>
        <input type="submit" style="display:none;" />
    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">

        var countAddedMaterial = 0;
        var matAdded = [];

        var validation = $('#mixtureForm').validate();
        validation.settings.rules = validateNewMixtureRules;
        validation.settings.messages = { 'name': { required: "", maxlength: "" }, 'components': { populated: "" } };

        function openAddMixtureDialog(href) {
            matAdded = [];
            countAddedMaterial = 0;
            $("#listBoxMaterials").empty();
            $('#listItems').empty();
            $('#mixtureForm').trigger("reset");
            $("#mixtureForm").attr("action", href);
            $("#mixtureForm").dialog({ title: "Aggiungi Miscela" }).dialog("open");
            return false;
        }

        function openEditMixtureDialog(obj) {
            //reset
            matAdded = [];
            countAddedMaterial = 0;
            $("#listBoxMaterials").empty();
            $('#listItems').empty();
            $('#mixtureForm').trigger("reset");
            //get data
            var nm = $(obj).attr("data-name") || "";
            var items = $(obj).attr("data-items") || "";
            items = JSON.parse(items);
            var href = $(obj).attr("href");
            var notes = $(obj).attr("data-notes") || "";
            //set data
            $.each(items, function (k, obj) {
                addItemMaterial(obj.Quantity, obj.Material.Id, obj.Material.Name);
            });
            $("#name").val(nm);
            $("#notes").val(notes);
            $("#mixtureForm").attr("action", href);
            //open
            $("#mixtureForm").dialog({title: "Modifica Miscela"}).dialog("open");
            return false;
        }

        $("#mixtureForm").dialog({
            autoOpen: false,
            title: "Aggiungi Miscela",
            resizable: false,
            draggable: false,
            height: "auto",
            width: 480,
            modal: true,
            create: function (event) {
                $(event.target).parent().css({ 'position': 'fixed' });
            },
            buttons: {
                "Conferma": function () {
                    $("#mixtureForm").submit();
                },
                "Annulla": function () {
                    $(this).dialog("close");
                }
            }
        });

        function addMaterial() {
            var material = parseInt($("#addMaterial").val()) || 0;
            var matName = $("#addMaterial option:selected").html() || "";
            var quantity = parseInt($("#addQuantity").val()) || 0;
            if (material != 0 && matName != "" && quantity != 0) {
                if (!matAdded.contains(matName)) {
                    $("#addMaterial").val("");
                    addItemMaterial(quantity, material, matName);
                } else {
                    errorDialog("Errore", "Materiale già presente nella miscela");
                }
            } else {
                alertDialog("Errore", "Inserire tutti i dati per poter aggiungere l'elemento");
            }
            return false;
        }

        function addItemMaterial(quantity, materialId, matName) {
            var app = "<input type='hidden' class='it_" + countAddedMaterial + "' name='quantitys[it_" + countAddedMaterial + "]' value='" + quantity + "' />";
            app += "<input type='hidden' class='it_" + countAddedMaterial + "' name='materials[it_" + countAddedMaterial + "]' value='" + materialId + "' />";
            $("#listItems").append(app);
            $("#listBoxMaterials").append("<option class='it_" + countAddedMaterial + "' value='it_" + countAddedMaterial + "'>" + quantity + " x " + matName + "</option>");
            matAdded.push(matName);
            countAddedMaterial++;
        }

        function removeMaterial() {
            var mat = $("#listBoxMaterials option:selected").val() || "";
            var nm = $("#listBoxMaterials option:selected").html().toString() || "";
            nm = nm.substr(nm.indexOf("x") + 2);
            if (mat != "") {
                matAdded.remove(nm);
                $("." + mat).remove();
            }
            return false;
        }

    </script>
}