@model EditLayoutViewModel
@{
    ViewData["Title"] = "Modifica Lavorazione";
}

<h2>Modifica Lavorazione</h2>
<div class="content_page margin_bottom">
    <form id="editLayoutForm" asp-action="Edit" asp-controller="Layout" asp-antiforgery="true" method="post" autocomplete="off">
        <label for="client" class="title">Cliente:</label>
        <select style="width:210px;" name="client">
            <option value="">--</option>
            @foreach (var c in Model.Clients)
            {
                <option asp-selected="@(Model.Layout.Client.Id == c.Id)" value="@c.Id">@c.Name</option>
            }
        </select>
        <br />
        <label for="mould" class="title">Stampo:</label>
        <select style="width:210px;" name="mould">
            <option value="">--</option>
            @foreach (var m in Model.Moulds)
            {
                <option asp-selected="@(Model.Layout.Mould.Id == m.Id)" value="@m.Id" title="@m.Description">@m.Code</option>
            }
        </select>
        <br />
        <label for="master" class="title">Master:</label>
        <select style="width:210px;" name="master">
            <option value="">--</option>
            @foreach (var m in Model.Masters)
            {
                <option asp-selected="@(Model.Layout.Master.Id == m.Id)" value="@m.Id" title="@m.Name">@m.Code</option>
            }
        </select>
        <br />
        <label for="mixture" class="title">Miscela:</label>
        <select style="width:210px;" name="mixture">
            <option value="">--</option>
            @foreach (var m in Model.Mixtures)
            {
                <option asp-selected="@(Model.Layout.Mixture.Id == m.Id)" value="@m.Id">@m.Name</option>
            }
        </select>
        <br />
        <label for="machine" class="title">Macchina:</label>
        <select style="width:210px;" name="machine">
            <option value="">--</option>
            @foreach (var m in Model.Machines)
            {
                <option asp-selected="@(Model.Layout.Machine == m.Id)" value="@(m.Id)" title="@m.Description">@m.ReferenceName</option>
            }
        </select>
        <br />
        <label for="quantity" class="title">Quantità:</label>
        <input type="number" step="1" name="quantity" min="1" style="width:60px;" value="@Model.Layout.Quantity" />
        <br />
        <label for="humidified" class="title">Umidificazione:</label>
        <input type="radio" id="humidified0" name="humidifiedCheck" value="0" onchange="humidifiedChange();" asp-checked="@(Model.Layout.Humidification == TimeSpan.Zero)" />
        <label for="humidified0">No</label>&nbsp;
        <input type="radio" id="humidified1" name="humidifiedCheck" value="1" onchange="humidifiedChange();" asp-checked="@(Model.Layout.Humidification != TimeSpan.Zero)" />
        <label for="humidified1">Si</label>
        &nbsp;&nbsp;
        <label for="humidified" style="width:50px; text-align:right; @((Model.Layout.Humidification == TimeSpan.Zero) ? "visibility:hidden;" : "")" class="humidified">Minuti:</label>
        <input type="number" step="1" name="humidified" min="0" style="width: 66px; @((Model.Layout.Humidification == TimeSpan.Zero) ? "visibility:hidden;" : "")" class="humidified" value="@Model.Layout.Humidification.TotalMinutes" />
        <br />
        <label for="mincedCheck" class="title">Macinato:</label>
        <input type="radio" id="minced0" name="mincedCheck" value="0" onchange="mincedChange();" asp-checked="@(string.IsNullOrEmpty(Model.Layout.Minced))" />
        <label for="minced0">No</label>&nbsp;
        <input type="radio" id="minced1" name="mincedCheck" value="1" onchange="mincedChange();" asp-checked="@(!string.IsNullOrEmpty(Model.Layout.Minced))" />
        <label for="minced1">Si</label>
        &nbsp;&nbsp;
        <label for="minced" style="width:50px; text-align:right; @((Model.Layout.Humidification == TimeSpan.Zero) ? "visibility:hidden;" : "")" class="minced">Quale:</label>
        <input type="text" name="minced" style="width: 106px; @((Model.Layout.Humidification == TimeSpan.Zero) ? "visibility:hidden;" : "")" class="minced" value="@Model.Layout.Minced" />
        <br />
        <label for="packaging" class="title">Confezionamento:</label>
        <select name="packaging" id="packaging" style="width: 186px;" onchange="packagingChange();" >
            @foreach (var p in Model.Packaging)
            {
                <option asp-selected="@(Enum.GetName(typeof(Package), Model.Layout.Packaging) == p.Value)" value="@p.Key">@p.Value</option>
            }
        </select>
        <input class="packaging" type="number" step="1" name="packagingCount" min="0" style="width:60px;" value="@Model.Layout.PackagingQuantity" />
        <br />
        <label for="start" class="title">Data Inizio:</label>
        <input type="date" name="start" value="@(Model.Layout.Start.ToString("yyyy-MM-dd"))" />
        <br />
        <label for="client" class="title">Note:</label>
        <textarea name="notes" style="width:250px;height:60px;margin-top: 4px;">@Model.Layout.Notes</textarea>
        <br />
        <br />
        <input type="submit" value="Aggiungi" />
    </form>
</div>

@section Scripts{
    <script type="text/javascript">

        function mincedChange() {
            var v = $("input[name='mincedCheck']:checked").val();
            if (v == "1") {
                $(".minced").css("visibility", "visible");
            } else {
                $(".minced").css("visibility", "hidden");
                $(".minced").val("");
            }
        }

        function humidifiedChange() {
            var v = $("input[name='humidifiedCheck']:checked").val();
            if (v == "1") {
                $(".humidified").css("visibility", "visible");
            } else {
                $(".humidified").css("visibility", "hidden");
                $(".humidified").val(1);
            }
        }

        function packagingChange() {
            var v = $("#packaging").val();
            if (v != "0") {
                $(".packaging").removeAttr("disabled");
                $(".packaging").val(1);
            } else {
                $(".packaging").attr("disabled", "disabled");
                $(".packaging").val(0);
            }
            $(".packaging").focus();

            $("#packaging").focus();
        }

    </script>
}