@model IndexLayoutModel
@{
    ViewData["Title"] = "Lavorazioni";
}
<h2>Lavorazioni</h2>
<div class="content_page margin_bottom" style="padding: 10px 35px 0px;">
    <div style="margin-bottom: 15px; text-align: right;">
        <label for="searchBar" style="width: 60px;">Cerca:</label>
        <input type="text" id="txtSearch" value="" style="margin: 0 !important; width: 200px;" placeholder="Codice, Cliente, Stampo" onkeyup="filterSearch(event)" autocomplete="off" />
    </div>
    <table class="table">
        <tr>
            <td style="font-weight:bold; width:115px;">Barcode</td>
            <td style="font-weight:bold; width:50px;">Stato</td>
            <td style="font-weight:bold; width:85px;">Data</td>
            <td style="font-weight:bold; width:200px;">Cliente</td>
            <td style="font-weight:bold; width:120px;">Stampo</td>
            <td style="font-weight:bold; width:110px;">Macchina</td>
            <td style="font-weight:bold; width:60px;">Logs</td>
            <td style="font-weight:bold; width:190px;">Azioni</td>
        </tr>
        @foreach (var l in Model.Layouts)
        {
            <tr id="@l.Barcode" style="font-size: 12px;">
                <td style="font-weight:bold; vertical-align: middle;">
                    <a asp-action="ViewModule" asp-controller="Layout" asp-route-id="@l.Id" target="_blank" title="Apri scheda lavorazione" style="font-size: 13px;">@l.Barcode</a>
                </td>
                <td style="text-align:center; vertical-align: middle;">
                    <span class="led @Enum.GetName(typeof(Status), l.Status)" title="@l.Status"></span>
                </td>
                <td style="vertical-align: middle;">@l.Start.ToString("dd/MM/yyyy")</td>
                <td style="vertical-align: middle;">@l.Client.Name</td>
                <td style="vertical-align: middle;">@l.Mould.Code</td>
                <td style="vertical-align: middle;"><a asp-if="Model.Machines.Select(m => m.Id).Contains(l.Machine)" asp-action="Details" asp-controller="Machine" asp-route-id="@l.Machine">@Model.Machines.FirstOrDefault(m => m.Id == l.Machine).ReferenceName.ToString()</a><label asp-if="@(!Model.Machines.Select(m => m.Id).Contains(l.Machine))" style="font-size:11px">Macchina non trovata</label></td>
                <td style="vertical-align: middle; text-align:center; font-weight:bold;">
                    <span id="c_@l.Barcode">@l.LayoutRecords.Count.ToString()</span>
                </td>
                <td style="vertical-align: bottom; text-align: right;">
                    <a asp-if="@(l.Status == Status.Waiting)" asp-action="Start" asp-controller="Layout" asp-route-id="@l.Id" class="confirmDialog" data-msg="Confermi di voler avviare la disposizione N. @l.Barcode ?" data-title="Conferma Avvio" title="Avvia la lavorazione">AVVIA</a>
                    <a asp-if="@(l.Status == Status.Recording)" asp-action="Stop" asp-controller="Layout" asp-route-id="@l.Id" class="confirmDialog" data-msg="Confermi di voler interrompere la disposizione N. @l.Barcode ?" data-title="Conferma Arresto" title="Ferma la lavorazione">FERMA</a>
                    <label asp-if="@(l.Status == Status.Waiting)">&nbsp;|&nbsp;</label>
                    <a asp-if="@(l.Status == Status.Waiting)" asp-action="Edit" asp-controller="Layout" asp-route-id="@l.Id" >Modifica</a>
                    <label asp-if="@(l.Status == Status.Waiting)">-</label>
                    <a asp-if="@(l.Status == Status.Waiting || l.Status == Status.Stopped)" asp-action="Delete" asp-controller="Layout" asp-route-id="@l.Id" class="confirmDialog" data-msg="Sei sicuro di voler rimuovere questa lavorazione?" data-title="Conferma Eliminazione">Rimuovi</a>
                </td>
            </tr>
        }
        <tr asp-if="@(Model.Layouts.Count == 0)">
            <td colspan="8" style="text-align:center;">Nessuna Lavorazione presente.</td>
        </tr>
    </table>
</div>

@section Scripts{
    <script class="inject-json" data-name="layouts" type="application/json">
        @Html.Raw(JsonConvert.SerializeObject(Model.Layouts))
    </script>
    <script type="text/javascript">

        var timer;
        var TimerVal = 2000;
        $(document).ready(function () {
            recBlink();
            timer = setInterval(updateLogs, TimerVal);
        });

        function updateLogs() {
            $.getJSON("/Api/GetLayoutLogsCount").done(function (data) {
                $.each(data, function (bc, it) {
                    $("#c_" + bc).html(it);
                });
            }).fail(function (data) {

            });
        }

        function recBlink() {
            setTimeout(function () {
                var op = $(".Recording").css("opacity");
                if (op == "0")
                    $(".Recording").css("opacity", "1");
                else
                    $(".Recording").css("opacity", "0");
                recBlink();
            }, 1000);
        }

        function filterSearch(e) {
            var val = e.currentTarget.value;
            var words = val.split(' ');
            for (var i = 0; i < words.length; i++) {
                var word = words[i].toLowerCase();
                $(layouts).each(function (index, item) {
                    var bc = item.Barcode.toLowerCase();
                    var client = item.Client.Name.toLowerCase();
                    var mould = item.Mould.Code.toLowerCase();
                    if (i == 0) {
                        if ((bc.indexOf(word) >= 0) || (client.indexOf(word) >= 0) || (mould.indexOf(word) >= 0)) {
                            $("#" + bc).css("display", "");
                        } else {
                            $("#" + bc).css("display", "none");
                        }
                    } else {
                        if ($("#" + bc).css("display") != "none") {
                            if ((bc.indexOf(word) >= 0) || (client.indexOf(word) >= 0) || (mould.indexOf(word) >= 0)) {
                                $("#" + bc).css("display", "");
                            } else {
                                $("#" + bc).css("display", "none");
                            }
                        }
                    }
                });
            }
        }

    </script>
}