@model Client
@{
    ViewData["Title"] = "Modifica Cliente";
    var optionAddress = Model.Address.Substring(0, Model.Address.IndexOf(" "));
    var numberAddress = Model.Address.Substring(Model.Address.IndexOf(",") + 2);
    var streetAddress = Model.Address.Substring(Model.Address.IndexOf(" ") + 1, Model.Address.IndexOf(",") - Model.Address.IndexOf(" ") - 1);
}
<h2>Modifica Cliente</h2>
<div class="content_page margin_bottom">
    <form id="editClientForm" asp-action="Edit" asp-controller="Client" method="post" asp-route-id="@Model.Id" asp-antiforgery="true" autocomplete="off">
        <label asp-for="Name" class="title">Nome:</label>
        <input asp-for="Name" style="width: 259px;" />
        <br />
        <label asp-for="VAT" class="title">Partita I.V.A:</label>
        <input asp-for="VAT" name="vat" style="width: 259px;" />
        <br />
        <label asp-for="FiscalCode" class="title">Codice Fiscale:</label>
        <input asp-for="FiscalCode" style="width: 259px;" />
        <br />
        <label asp-for="State" class="title">Stato:</label>
        <select name="state" style="width: 174px">
            <option value="">--</option>
            @await Html.PartialAsync("StatesOptions", Model.State)
        </select>
        <br />
        <label asp-for="Province" class="title">Provincia:</label>
        <select name="province" style="width: 75px;">
            <option value="">--</option>
            @await Html.PartialAsync("ProvinceOptions", Model.Province)
        </select>
        <br />
        <label asp-for="Town" class="title">Comune:</label>
        <input asp-for="Town" />
        <br />
        <label asp-for="Address" class="title">Indirizzo:</label>
        <select id="addressStreetMode" name="addressStreetMode" style="width: 75px !important;" onchange="writeAddress()">
            <option asp-selected="@(optionAddress == "Via")" value="Via">Via</option>
            <option asp-selected="@(optionAddress == "Piazza")" value="Piazza">Piazza</option>
            <option asp-selected="@(optionAddress == "Viale")" value="Viale">Viale</option>
        </select>
        <input type="text" style="width:180px;" id="addressStreet" name="addressStreet" value="@streetAddress" oninput="writeAddress()" />
        <br />
        <label asp-for="Address" class="title">N°:</label>
        <input type="text" id="addressNumber" name="addressNumber" style="width: 75px;" value="@numberAddress" oninput="writeAddress()" />
        <input asp-for="Address" type="hidden" style="display:none;" />
        <br />
        <label asp-for="Phone" class="title">Telefono:</label>
        <input asp-for="Phone" />
        <br />
        <label asp-for="Email" class="title">E-Mail:</label>
        <input asp-for="Email" style="text-transform: lowercase;width: 259px;" />
        <br />
        <label asp-for="PEC" class="title">PEC:</label>
        <input asp-for="PEC" style="text-transform: lowercase;width: 259px;" />
        <br />
        <br />
        <input type="submit" value="Salva" />
    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">

        var validation = $('#editClientForm').validate();
        validation.settings.rules = validateEditClientRules;
        validation.settings.messages = validateEditClientMessages;

        function writeAddress() {
            var sel = $("#addressStreetMode").val();
            var add = $("#addressStreet").val();
            var numb = $("#addressNumber").val();
            if (add == "" || numb == "") {
                $("#Address").val("");
            } else {
                $("#Address").val(sel + " " + add + ", " + numb);
            }
        }

    </script>
}