@using Newtonsoft.Json
@model IndexClientModel
@{
    ViewData["Title"] = "Clienti";
}
<h2>Clienti</h2>
<div class="content_page margin_bottom">
    <div style="margin-bottom: 15px; text-align: right;">
        <label for="searchBar" style="width: 60px;">Cerca:</label>
        <input type="text" id="txtSearch" value="" style="margin: 0 !important; width: 200px;" placeholder="Codice, Nome, I.V.A" onkeyup="filterSearch(event)" autocomplete="off" />
    </div>
    <table class="table">
        <tr>
            <td style="font-weight:bold; width:200px;">Codice</td>
            <td style="font-weight:bold; width:400px;">Nome</td>
            <td style="font-weight:bold; width:200px;">Partita I.V.A</td>
            <td style="font-weight:bold; width:300px;">Azioni</td>
        </tr>
        @foreach (var c in Model.Clients)
        {
            <tr id="@c.Code">
                <td style="padding-left:20px;"><b>@c.Code</b></td>
                <td>@c.Name</td>
                <td>@c.VAT</td>
                <td>
                    <a asp-action="Edit" asp-controller="Client" asp-route-id="@c.Id">Modifica</a>
                    &nbsp;-&nbsp;
                    <a asp-action="Delete" asp-controller="Client" asp-route-id="@c.Id" class="confirmDialog" data-msg="Sei sicuro di voler cancellare questo cliente?" data-title="Conferma Eliminazione" >Rimuovi</a>
                </td>
            </tr>
        }
        <tr asp-if="Model.Clients.Count == 0">
            <td colspan="3" style="text-align:center">Nessun cliente presente.</td>
        </tr>
    </table>
</div>

@section Scripts{
    <script class="inject-json" data-name="clients" type="application/json">
        @Html.Raw(JsonConvert.SerializeObject(Model.Clients))
    </script>
    <script type="text/javascript">

        function filterSearch(e) {
            var val = e.currentTarget.value;
            var words = val.split(' ');
            for (var i = 0; i < words.length; i++) {
                var word = words[i].toLowerCase();
                $(clients).each(function (index, item) {
                    var bc = item.Code.toLowerCase();
                    var name = item.Name.toLowerCase();
                    var vat = item.VAT.toLowerCase();
                    if (i == 0) {
                        if ((bc.indexOf(word) >= 0) || (name.indexOf(word) >= 0) || (vat.indexOf(word) >= 0)) {
                            $("#" + bc).css("display", "");
                        } else {
                            $("#" + bc).css("display", "none");
                        }
                    } else {
                        if ($("#" + bc).css("display") != "none") {
                            if ((bc.indexOf(word) >= 0) || (name.indexOf(word) >= 0) || (vat.indexOf(word) >= 0)) {
                                $("#" + bc).css("display", "");
                            } else {
                                $("#" + bc).css("display", "none");
                            }
                        }
                    }
                });
            }
        }

    </script>
}