@model IndexMaterialModel
@{
    ViewData["Title"] = "Lista Materiali";
}

<h2>Materiali</h2>
<div class="content_page margin_bottom">
    <table class="table">
        <tr>
            <td style="font-weight:bold;">Nome</td>
            <td style="font-weight:bold;">Descrizione</td>
            <td style="font-weight:bold;">Azioni</td>
        </tr>
        @foreach (var m in Model.Materials)
        {
            <tr>
                <td style="padding-left:20px;"><b>@m.Name</b></td>
                <td>@m.Description</td>
                <td>
                    <a asp-action="Edit" asp-controller="Material" asp-route-id="@m.Id" data-name="@m.Name" data-description="@m.Description" onclick="return openEditMaterialDialog(this);">Modifica</a>
                    &nbsp;-&nbsp;
                    <a asp-action="Delete" asp-controller="Material" asp-route-id="@m.Id" class="confirmDialog" data-msg="Sei Sicuro di voler rimovere questo materiale?">Rimuovi</a>
                </td>
            </tr>
        }
    </table>
    <br />
    <div style="text-align: right;">
        <input type="button" value="Aggiungi" onclick="return openAddMaterialDialog();" />
    </div>
</div>

<div class="box" style="display:none;">
    <form id="newMaterialForm" asp-action="New" asp-antiforgery="true" method="post" autocomplete="off">
        <label style="width: 95px;display: inline-block;text-align: right;">Nome:</label>
        <input type="text" name="name" style="width:170px" />
        <label style="width: 95px;display: inline-block;text-align: right;">Descrizione:</label>
        <textarea type="text" name="description" style="width:250px; min-height:60px;"></textarea>
        <input type="submit" style="display:none;" />
    </form>
</div>

<div class="box" style="display:none;">
    <form id="editMaterialForm" asp-antiforgery="true" method="post" autocomplete="off">
        <label style="width: 95px;display: inline-block;text-align: right;">Nome:</label>
        <input type="text" id="editName" name="name" style="width:170px" />
        <label style="width: 95px;display: inline-block;text-align: right;">Descrizione:</label>
        <textarea type="text" id="editDescription" name="description" style="width:250px; min-height:60px;"></textarea>
        <input type="submit" style="display:none;" />
    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">

        var validation = $('#newMaterialForm').validate();
        validation.settings.rules = validateMaterialRules;
        validation.settings.messages = validateMaterialMessages;

        var validation1 = $('#editMaterialForm').validate();
        validation1.settings.rules = validateMaterialRules;
        validation1.settings.messages = validateMaterialMessages;

        function openAddMaterialDialog() {
            $('#newMaterialForm').trigger("reset");
            $("#newMaterialForm").dialog("open");
            return false;
        }

        function openEditMaterialDialog(it) {
            var nm = $(it).attr("data-name");
            var desc = $(it).attr("data-description");
            var link = $(it).attr("href");
            $("#editName").val(nm);
            $("#editDescription").val(desc);
            $("#editMaterialForm").attr("action", link);
            $("#editMaterialForm").dialog("open");
            return false;
        }

        $("#newMaterialForm").dialog({
            autoOpen: false,
            title: "Aggiungi Materiale",
            resizable: false,
            draggable: false,
            height: "auto",
            width: 400,
            modal: true,
            create: function (event) {
                $(event.target).parent().css({ 'position': 'fixed' });
            },
            buttons: {
                "Conferma": function () {
                    $("#newMaterialForm").submit();
                },
                "Annulla": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#editMaterialForm").dialog({
            autoOpen: false,
            title: "Modifica Materiale",
            resizable: false,
            draggable: false,
            height: "auto",
            width: 400,
            modal: true,
            create: function (event) {
                $(event.target).parent().css({ 'position': 'fixed' });
            },
            buttons: {
                "Conferma": function () {
                    $("#editMaterialForm").submit();
                },
                "Annulla": function () {
                    $(this).dialog("close");
                }
            }
        });

    </script>
}
